@media print {
    aside#sidebar,
    header[role="banner"],
    footer,
    #comments,
    #respond {
        display: none;
    }
    #container #content #main {
        width: 90%;
        margin: 0px;
        padding: 0px;
    }
    * {
        padding: 0px;
        margin: 0px;
        font-family: "Arial", sans-serif;
    }
    /* * {
        color: #000;    
        background-color: #fff;
        @include box-shadow(none);
        @include text-shadow(none);
    }*/
    a:after {
        content: "( "attr(href)" )";
    }
    .box {
        display: none;
        color: #000;
        background-color: #fff;
        @include box-shadow(none);
        @include text-shadow(none);
    }
    #DontPrint {
        color: white;
        display: none;
        text-decoration: none;
    }
    #toPrint {
        height: 100%;
    }
    /*demographics*/
    #profileImg {
        width: 100px;
    }
    /* .form-control
    {
        border: 0;
        padding:0;
        overflow:visible;
        font-size: 11px;
    } */
    #mainContent {
        font-size: 11px;
    }
    /* end demographics*/
}

@media screen {
    #DontShowOnScreen {
        color: white;
        display: none;
        text-decoration: none;
    }
}